<!--main content start-->
<section id="main-content">
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-9 main-chart">

                <div class="row mt">

                    <div class="col-md-4 col-sm-4 mb">
                        <div class="white-panel pn">
                            <div class="white-header">
                                <h5>NAME</h5>
                            </div>

                            <div class="centered">
                                <img src="http://assets.absolutdrinks.com/actions/200x300/muddle.png" width="120">
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-4 mb">
                        <div class="white-panel pn">
                            <div class="white-header">
                                <h5>NAME</h5>
                            </div>

                            <div class="centered">
                                <img src="http://assets.absolutdrinks.com/actions/200x300/muddle.png" width="120">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb">
                        <div class="white-panel pn">
                            <div class="white-header">
                                <h5>NAME</h5>
                            </div>

                            <div class="centered">
                                <img src="http://assets.absolutdrinks.com/actions/200x300/muddle.png" width="120">
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div><!-- /row -->

        <div class="row">
            <div class="col-lg-9 main-chart">

                <div class="row mt">

                    <div class="col-md-4 col-sm-4 mb">
                        <div class="white-panel pn">
                            <div class="white-header">
                                <h5>NAME</h5>
                            </div>

                            <div class="centered">
                                <img src="http://assets.absolutdrinks.com/actions/200x300/muddle.png" width="120">
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-4 mb">
                        <div class="white-panel pn">
                            <div class="white-header">
                                <h5>NAME</h5>
                            </div>

                            <div class="centered">
                                <img src="http://assets.absolutdrinks.com/actions/200x300/muddle.png" width="120">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb">
                        <div class="white-panel pn">
                            <div class="white-header">
                                <h5>NAME</h5>
                            </div>

                            <div class="centered">
                                <img src="http://assets.absolutdrinks.com/actions/200x300/muddle.png" width="120">
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div><!-- /row -->
    </section>
</section>